[submodule "omero-model"]
	path = omero-model
	url = ../omero-model
	branch = develop
[submodule "omero-common"]
	path = omero-common
	url = ../omero-common
	branch = develop
[submodule "omero-romio"]
	path = omero-romio
	url = ../omero-romio
	branch = develop
[submodule "omero-renderer"]
	path = omero-renderer
	url = ../omero-renderer
	branch = develop
[submodule "omero-server"]
	path = omero-server
	url = ../omero-server
	branch = develop
[submodule "omero-blitz"]
	path = omero-blitz
	url = ../omero-blitz
	branch = develop
